img{
    width: 80x;
    height: 80px;
}
h1{
    text-align: center;
    font-family: cursive;
}
*{
    background-color: rgb(246, 247, 248);
}
.row{
    display: flex; 
     flex-wrap: wrap; 
     padding: 0px 4px;
     border: black 1px solid;
 }
 /* .card-body{
    flex-basis: 25%; 
    max-width: 25%; 
    margin-top: 8px;
    
} */
.btn{
    background-color: rgb(249, 250, 252);
}

